

a,
body {
	color: #333;
}

body,
dd,
div,
dl,
dt,
h3,
h4,
h5,
li,
p,
td,
th,
tr,
ul {
	margin: 0;
	padding: 0;
}

div {
	display: block;
}

a,
a:hover {
	text-decoration: none;
	text-decoration-line: none;
	text-decoration-style: initial;
	text-decoration-color: initial;
}

a {
	vertical-align: baseline;
	cursor: pointer;
}

ol,
ul {
	list-style: none;
}

img {
	background: url(../../images/autoimg.png) center no-repeat #f2f2f2;
	background-image: url(../../images/autoimg.png);
	background-position-x: center;
	background-position-y: center;
	background-size: 50% auto;
	background-repeat-x: no-repeat;
	background-repeat-y: no-repeat;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: rgb(242, 242, 242);
	background-size: 50% auto;
	vertical-align: middle;
}

img {
	border: 0;
	border-top-color: initial;
	border-top-style: initial;
	border-top-width: 0px;
	border-right-color: initial;
	border-right-style: initial;
	border-right-width: 0px;
	border-bottom-color: initial;
	border-bottom-style: initial;
	border-bottom-width: 0px;
	border-left-color: initial;
	border-left-style: initial;
	border-left-width: 0px;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
}

.moviegrade {
	background: #74ab34;
	width: 32px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	color: #fff;
	font-size: 13px;
}


/*公共部分  后面所有注释都指向上面的一块内容*/

.movielist {
	padding: 0px 0 30px;
	position: relative;
}

.headslider,
.indexstruct,
.mselection {
	width: 1200px;
	margin: 0 auto;
}

.block,
.fix {
	display: block;
}


/*indexstruct fix movielist*/

.mlist {
	width: 860px;
}

.mlist,
.mlist li,
.mlistpic dd,
.mlistpic dt {
	float: left;
}


/*mlist*/

.block,
.fix {
	display: block;
}


/*fix*/

.titmore {
	float: right;
	position: relative;
	padding-top: 4px;
}


/*更多*/

.gt {
	display: inline-block;
	*display: inline;
	position: relative;
	zoom: 1;
	vertical-align: middle;
}

.gt {
	background: url(../../images/index24.png) -126px -21px no-repeat;
	width: 6px;
	height: 10px;
	line-height: 0;
	font-size: 0;
	top: -1px;
}


/*小按鈕*/

.mlist h4 {
	font-size: 22px;
	font-weight: 400;
}


/*特色榜單*/

.fix:after {
	content: ".";
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}


/*暫時不知道作用*/

.mlist ul {
	margin-top: 25px;
	width: 878px;
}


/*mlist ul*/

.mlist li {
	float: left;
}

.mlist li {
	width: 439px;
	height: 255px;
	overflow: hidden;
}


/*mlist li*/

.mlistpic {
	position: relative;
}

.block,
.fix {
	display: block;
}


/*dl  mlistpic fix*/

.mlist,
.mlist li,
.mlistpic dd,
.mlistpic dt {
	float: left;
}

.mlistpic,
.mlistpic dd,
.selguide .mainguide {
	position: relative;
}


/*块内公共部分*/

.mlistpic dt {
	width: 280px;
}


/*块内大图片*/

.mlistpic dd {
	width: 138px;
	margin: 0 0 2px 2px;
}


/*块内小图片*/

.mlistpic dd span {
	background: url(http://static1.mtime.cn/static/images/bg/000000_70.png);
	width: 138px;
	height: 99px;
	z-index: 2;
}

.mlistpic dd span,
.mlistpic dd strong {
	position: absolute;
	left: 0;
	top: 0;
}


/*span的样式*/

.mlistpic dd strong {
	width: 100%;
	text-align: center;
	color: #fff;
	line-height: 99px;
	font-weight: 400;
	z-index: 3;
}


/*文字部分样式*/

.mlist h3 {
	font-size: 16px;
	line-height: 1.6;
	padding-top: 6px;
}


/*标题样式高分必看*/

.mboxoffice {
	width: 303px;
	float: right;
}


/*票房榜*/

.mboxoffice h4 {
	font-size: 22px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 23px;
}


/*票房榜标题*/

.mboxofficetab {
	border-bottom: 1px solid #e5e5e5;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(229, 229, 229);
	font-size: 16px;
}


/*切换栏*/

.mboxofficetab dd.cur {
	color: #1e7dd7;
	font-weight: 700;
}

.mboxofficetab dd {
	float: left;
	width: 33%;
	text-align: center;
	cursor: pointer;
}


/*鼠标悬停切换样式*/

.mboxofficetab dd.cur span {
	border-bottom: 3px solid #1e7dd7;
	padding-bottom: 12px;
}

.mboxofficetab dd span {
	padding-bottom: 12px;
	margin-bottom: -2px;
}


/*当前选中样式*/

.mboxoffice li {
	margin-top: 20px;
	padding-bottom: 2px;
}


/*前三列表*/

.mboxofficerank dt {
	font-size: 28px;
	color: #d2d2d2;
	font-weight: 400;
}

.mboxofficerank dd,
.mboxofficerank dt {
	float: left;
}


/*01*/

.mboxofficerank dd.moviepic {
	width: 80px;
	height: 120px;
	position: relative;
}

.mboxofficerank dd {
	margin-left: 9px;
}


/*01中的图片块*/

.mboxofficerank dd.moviepic .moviegrade {
	position: absolute;
	right: 0;
	bottom: 0;
}

.mboxoffice p.tr,
.mboxofficerank .moviegrade {
	margin-top: 5px;
}


/*01中的评级块*/

.movegrade {
	display: inline-block;
	*display: inline;
	position: relative;
	zoom: 1;
	vertical-align: middle;
}


/*movegrade 公共块的样式*/

i {
	font-weight: 400;
	font-style: normal;
}


/*标签i的公共样式*/

.mboxofficerank dd.text {
	width: 170px;
}


/*01中文字区域的样式(公共)*/

.mboxofficerank h3 {
	font-size: 16px;
	font-weight: 400;
	padding: 3px 0 8px;
}


/*文字区标题样式*/

.mboxofficerank h3 a {
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.mboxofficerank h3 a {
	display: block;
}


/*无双*/

.mboxofficerank p {
	color: #888;
}


/*票房等*/

.tr {
	text-align: right;
}

.mboxoffice p.tr,
.mboxofficerank .moviegrade {
	margin-top: 5px;
}


/*更多按钮的样式*/

.tab-content div {
	display: none;
}

div.active-txt {
	display: block;
}